body{
	background-color: #E8E8E8;
	color: #484848;
}

#IE{
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	color: black;
	width: 350px;
	margin-top: 50px;
	margin-left: 30px;
	text-align: left;
	display: none;
}

#title-container{
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#title{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: #E64016;
}

#author{
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #7F7F7F;
}

#container{
	width: 950px;
	height: 650px;
	margin-left: 30px;
}

#section-filter-container{
	width: 750px;
	float: left;
	display: none;
	margin-top: 5px;
	margin-bottom: 6px;
}

#data-container{
	margin-top: 5px;
	width: 750px;
	height: 650px;
	background-color: white;

	border: solid #7D7D7D 1px;
	border-radius: 4px;
	float: left;
}

#canvas{
	border-style: none;
	float: left;
	// width set by JS
	// height set by JS
}

#list-container{
	overflow-y: scroll;
	height: 648px;
	width: 168px;
	font-family: MenschRegular, Menlo, Monaco, consolas, monospace;
	float: left;
	background-color: #D1D1D1;
}

#options-container{
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	width: 170px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.w{
	height: 25px;
	padding-left: 10px;
	padding-top: 4px;
	cursor:pointer;
}

.sel{
	background-color: #E64016;
	color: #E8E8E8;
}

.button{
	padding-left: 0;
	padding-top: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 140px;
	height: 31px;
	background-color: white;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	
	border: solid #7D7D7D 1px;
	border-radius: 4px;
	
	cursor:pointer;
}

.on{
	
	background-color: #E64016;
	border: solid #E64016 1px;
	color: white;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.section-filter-title{
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7F7F7F;
	margin-right: 8px;
	line-height: 24px;
}

.section-type{
	display: inline-block;
	width: auto;
	min-width: 32px;
	height: 24px;
	line-height: 22px;
	font-size: 12px;
	padding: 0 8px;
	margin-top: 0;
	margin-right: 5px;
}
